body {
    text-align: center;
}


#contact_1 {
   
}

#contact iframe {
    width: 100%;
}

#video iframe {
    width: 100%;
}

input {
    background-color: grey;
}

.my_nav_bar {
    position: sticky;
    top: 0;
    z-index: 99999;
   font-size: 20px;
   
}

h1 {
    line-height: 1.2;
    font-weight: 300;
    font-size: 40px;
    line-height: 1.2;
    font-weight: 300;
    font-family: monospace;
    
    font-size: 40px;
}

#heading{
    color:black;
}
#cont{
    margin-left: 270px;
}
.movie_head{
    font-size: 20px;
    margin: 15px;
    border-radius: 10px;
    text-align: left;
}
.movie_head i{
    float: right;
}
.movie_text span{
    color:orange;
}
img{
    position:static;
}
p{
    color: black
}
#his{
    width: 800px;
}
.more_li {
  margin-top: 13px;  
}
.more_li h2{
    border-bottom: 1px  white;
    padding: 8;
}
.more_li img{
    border-radius: 60px;
}
.logo{
  height: 65px;
    
}
.bg-primary movie_head{
    font-size: 50px;
}
p1{
    width: 1330px;
}
p2{
    width:1330px;
}